<ion-header>
  <ion-toolbar>
    <ion-title>S.I.S.T.E.M.A. UABC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="primary" (click)="irHardware()">
          <ion-card-content>
            <img src="assets\icon\cpu.svg">
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>
              Hardware
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="primary" (click)="irSoftware()">
          <ion-card-content>
            <img src="assets\icon\software.svg">
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>
              Software
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card color="primary" (click)="irMiembrosTS()">
          <ion-card-content>
            <img src="assets\icon\student.svg">
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>
              Miembros/TS
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="primary" (click)="irProfesores()">
          <ion-card-content>
            <img src="assets\icon\teacher.svg">
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>
              Profesores
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card color="primary" (click)="irSalones()">
          <ion-card-content>
            <img src="assets\icon\classroom.svg">
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>
              Salones
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="primary" (click)="irReportes()">
          <ion-card-content>
            <img src="assets\icon\report.svg">
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>
              Reportes
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
